body{
    font-family: Roboto;
}

header{
    background-color: rgba(0, 0,0,0.9);
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

h4{
    color: white;
    padding-left: 20px;
}

.Conte{
    color: white;
    margin: auto;
}

.Conte a{
    color: white;
    padding: 10px;
    border-style: solid;
    border-radius: .7rem;
    margin-left: 10px;
    text-decoration: none;
}

.Contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
}

.Contenido .presentacion{
    grid-row: 0;
    grid-column: 1;
    grid-column-end: 4;
}

.Contenido div p{
    text-align: center;
    text-decoration: solid;
}

.Contenido #Resp{
    background-image: url(img/GitHub__headpic.webp);
    color: white;
    padding-top: 20px;
    padding-left: 15px;
}


table img{
    width: 110px;
}

.redes{
    grid-column: 2;
    grid-row: 3 ;
}

.cuerpo{
    grid-column: 1/4;
    grid-row: 2;
}

.cuerpo p{
    text-align: center;
}

.cuerpo img{
    width: 200px;
}